<table>
  <tr><th i18n>Personagem</th><th i18n>Descrição</th></tr>
  <tr (click)='openDialog(character)' *ngFor="let character of charactersList">
    <td>
      <app-character-image [character]='character'></app-character-image>      
      <p>{{character.attributes.name}}</p>
    </td>
    <td>
      <app-character-description [description]='character.attributes.description'></app-character-description>            
    </td>
  </tr>
</table>
<app-pagination [pagination]='pagination' (changePage)="onPageChange($event)"></app-pagination>