<app-loader-spinner [buscando]='buscando'></app-loader-spinner>
<h1 mat-dialog-title>Lista de Medias</h1>
<div mat-dialog-content>
  <table>
    <tr><th>Tipo</th><th>Nome</th></tr>
    <tr *ngFor="let media of medias">
      <td>
        <p>{{media.type}}</p>
      </td>
      <td>
        <img src="{{media.attributes.posterImage.original}}">
        <p>{{media.attributes.canonicalTitle}}</p>
      </td>              
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeModal()">Fechar</button>  
</div>