<table>
  <tr><th>Personagem</th><th>Descrição</th></tr>
  <tr (click)='abreMedias()' *ngFor="let character of charactersList">
    <td>
      <app-character-image [character]='character'></app-character-image>      
      <p>{{character.attributes.name}}</p>
    </td>
    <td>
      <app-character-description [character]='character'></app-character-description>            
    </td>
  </tr>
</table>
<app-character-list-pagination [characterList]='charactersList' [pagination]='pagination' (changePage)="onPageChange($event)"></app-character-list-pagination>